<form action="/chairs" method="post">
<p>Color: <input type="text" name="color"></p>
<p>Weight <input type="text" name="weight"></p> 
<p>Legs: <input type="text" name="legs"></p> 
<p>Image: <input type="text" name="Image"></p> 
<input type="submit" value="Make a new chair!">
</form>